.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .login-box {
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 25%;
  }

  .forgot-password {
    text-align: right; 
    margin-bottom: 10px; 
  }
  
  .forgot-password a {
    color: rgb(19, 136, 244); 
    text-decoration: none; 
    font-size: small; 
  }
  
  .forgot-password a:hover {
    text-decoration: underline; 
  }
  
  .login-box button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(7, 130, 245);
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.4px;
    cursor: pointer;
    outline: none;
  }
  
  .login-box button:hover {
    background-color: rgb(37, 140, 236);
  }

  .signin {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 5px; /* espacio entre el texto y el link */
    margin-top: 30px;
  }
  
  .signin p {
    font-size: small;
    color: rgb(204, 204, 204);
  }
  
  .signin a {
    font-size: small;
    color: rgb(19, 136, 244); 
    text-decoration: none; 
    font-weight: bold; 
  }
  
  .signin a:hover {
    text-decoration: underline; 
  }
